---
const pageTitle = "Home";
const identity = {
  firstName: "Nora",
  occupation: "UX Designer",
};
const languageFlags = {
  italian: "🇮🇹",
  english: "🇬🇧",
  german: "🇩🇪",
  spanish: "🇪🇸",
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width", initial-scale="1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />  
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap">
		
		<title>{pageTitle}</title>

	<style>
			body {
				font-family: 'Roboto Mono', monospace;
				margin: 0;
				padding: 0;
			}
	
			.content-container {
				max-width: 800px;
				margin: 0 auto;
				padding: 20px;
			}
	
			ul {
				list-style-type: none;
				padding: 0;
			}
	
			li {
				margin-bottom: 8px;
			}
	
			.language-flags {
				display: inline-block;
				padding: 20;
				margin-left: 12px; /* Adjust the margin as needed */
			}
		</style>
	</head>

<body>
	<header> 
		<div class="logo">
			<img src="img/devjane.png" alt="">
		</div>
	</header>
	<div class="content-container">
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>	  
		<h1>Welcome</h1>
	

<p>You can call me {identity.firstName}.</p>
<p>I'm an aspiring {identity.occupation}.</p>
<p>I'm skilled in: </p>
  <p> 
	<li>UXR</li>
	<li>UXD</li>
	<li>Artificial Languages</li>
	<li>Natural Languages
		[<span class="language-flags">{languageFlags.italian}</span>
		<span class="language-flags">{languageFlags.english}</span>
		<span class="language-flags">{languageFlags.german}</span>
		<span class="language-flags">{languageFlags.spanish}</span>
		]
	</li>

<p>I've built this website from scratch to prove it.</p>
<p>Take a look at my projects and/or download my CV. </p>

	</body>
</html>
